/*reset*/
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
html,body,div,section,p,ul,li{
	margin: 0;
	padding: 0;
}
li{list-style: none;}
a{text-decoration: none;}
/*header*/
.header{
	position: relative;
	padding:10px 0 10px 50px;
	background: #2189bf;
}
/*logo*/
.header .logo{
	width: 36px;
	height: 36px;
}
.header .logo i{
	background-color: #fff;
	width: 17px;
	height: 17px;
	float: left;
}
.header .logo .top-left{
	border-left: 1px solid #b9daeb;
	border-top: 1px solid #c7e1ef;
}
.header .logo .top-right{
	border-top: 1px solid #c7e1ef;
	border-right: 1px solid #74b6d7;
	border-bottom: 1px solid #d5e9f3;
}
.header .logo .bottom-left{
	border-left: 1px solid #b9daeb;
	border-bottom: 1px solid #66aed3;
	border-right: 1px solid #e3f0f7;
	margin-top: -1px;
}
.header .logo .bottom-right{
	border-left: 1px solid #f1f8fb;
	border-right: 1px solid #74b6d7;
	border-bottom: 1px solid #66aed3;
	width:13px;
	height:14px;
	float: right;
	margin-top: 2px;
}
/*搜索框和登录*/
.header .search{
	position: absolute;
	right: 94px;
	top: 14px;
}
.header .search>input[type="text"]{
	border-top: 1px solid #abd3e7;
	border-bottom: 1px solid #abd3e7;
	border-left: none;
	border-right: none;
	border-radius: 2em;
	padding-left: 46px;
	width: 310px;
	height: 26px;
	background: url(icon/search.png) 18px center no-repeat #fff;
}

.header .search a{
	display: inline-block;
	width:24px;
	height: 13px;
	line-height: 13px;
	font-family: "黑体";
	color: #fff;
	background: url(icon/person_icon.png) left center no-repeat;
	padding-left: 18px;
	padding-top:2px;
	margin-left:20px; 
}
/*sidebar开始*/
.main .sidebar{
	width: 260px;
	background-color: #2a2e3d;
}
/*sidebar-top*/
.sidebar-top span.circle{
	border: 1px solid #ecebec;
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	float: left;
	margin-left: 46px;
	margin-top: 18px;
}
.sidebar-top span.circle:after{
	content: "";
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #bababe;
	margin:4px 0 0 4px;
}

.sidebar-top span.circle+p{
	color: #f6f5f5;
	font: 16px/1 "黑体";
	float: left;
	margin: 40px 0 0 18px;
}
.sidebar-top .collect-fan{
	clear: both;
	padding: 21px 0 22px 62px;
	overflow: hidden;
}
.sidebar-top .collect-fan span{
	font: 16px/1 "黑体";
	color: #6e8095;

}
.sidebar-top .collect-fan p{
	color: #6e8095;
	line-height: 16px;
}
.collect-fan .left{
	padding-right: 30px;
	float: left;
	border-right: 2px solid #313545;
}
.collect-fan .right{
	float: left;
	padding-left: 30px;
}

/*sidebar-middle*/
.sidebar .sidebar-middle{
	background-color: #383d4e;
	padding-bottom: 14px;
}
.sidebar-middle>ul{
	background: url(icon/task_1_9_1_06.png) 44px 12px no-repeat;
	font-family: "黑体";

	padding-left: 68px;
	padding-top: 14px;
}
.sidebar-middle>ul>a{
	color: #ededef;
}
.sidebar-middle li>a{
	color: #67778c;
	
}
.sidebar-middle li{
	padding-top: 18px;
}
.sidebar-middle>ul li{
	list-style:url(icon/task_1_9_1_11.png);
	margin-left: 14px;
	padding-left: 16px;
	background: url(icon/task_1_9_1_13.png) left 18px no-repeat;
}
.sidebar-middle .folder{
	
	background: url(icon/task_1_9_1_17.png) left 18px no-repeat;
	list-style:url(icon/task_1_9_1_19.png);
}
.sidebar-middle .folder>a{
	color: #e1e1e4;
}
.sidebar-middle .folder>ul li{
	margin-left:0;
	background: url(icon/task_1_9_1_27.png) left 18px no-repeat;
	list-style: none;
}

/*sidebar-bottom*/
.sidebar-bottom ul{
	line-height: 44px;
	padding-left: 44px;
}
.sidebar-bottom li>a{
	font-family: "黑体";
	color: #6e8096;
	padding-left: 24px;
}
.sidebar-bottom .list-style1{
	background:url(icon/task_1_9_1_29.png) left center no-repeat;

}
.sidebar-bottom .list-style2{
	background:url(icon/task_1_9_1_32.png) left center no-repeat;

}
.sidebar-bottom .list-style3{
	background:url(icon/task_1_9_1_34.png) left center no-repeat;
}