*{
	padding:0; 
	margin:0;
}

body{
	background-color: gray;
	font-family: "Microsoft Yahei";
}

/*头部*/
h1,#foot{
	color: #fff;
}
h1{
	padding: 20px 0 20px 40px;
}
#head{
	background-color: #000;
	
}

.ul{
	float: right;
	margin-top: -50px;
	
}

.guide{
	float: left;
	margin-right: 20px;
}
ul a{
	color: white;
	text-decoration: none;
}

/*主体*/

#mainbody{
	line-height: 2em;
	
	margin: 20px 20px;
}
.passage,.img{
	margin: 20px 0;
	background-color: #fff;
	padding: 50px 20px;
	
}

ol{
	margin-left:20px;
}
/*侧栏*/
#sidebar{
	background-color: #fff;
	margin: 20px 20px;
	padding: 50px 20px;

}

#sidebar h2{
	border-left: 3px solid gray;
	padding-left: 10px;
}
form{
	position: relative;
}
input[type=submit]{
	font-size: 16px;
	color: white;
	width:100%;
	background-color: #06f;
	padding: 10px 0;
	position: absolute;
	bottom: -50px;
	left: 0;
	border-radius: 15px;
}


#foot{
	background-color: #000;
	text-align: center;
	padding: 30px 0 50px;
}

p{
	text-indent: 2em;
}

.passage ul{
	list-style: none;
}
table{
	width:100%;
	border:none;
}
table th{
	background-color: black;
	color: white;
}

.sum{
	background-color: gray;

}